<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cm.dao.CmOrderItemDao">
  <resultMap id="BaseResultMap" type="com.cm.entity.CmOrderItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_item_food_cost" jdbcType="DECIMAL" property="orderItemFoodCost" />
    <result column="order_item_food_price" jdbcType="DECIMAL" property="orderItemFoodPrice" />
    <result column="order_item_quantity" jdbcType="INTEGER" property="orderItemQuantity" />
    <result column="order_item_subtotal" jdbcType="DECIMAL" property="orderItemSubtotal" />
    <result column="food_id" jdbcType="BIGINT" property="foodId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_user" jdbcType="BIGINT" property="modifyUser" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_item_food_cost, order_item_food_price, order_item_quantity, order_item_subtotal, 
    food_id, order_id, create_user, create_time, modify_user, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cm_order_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cm_order_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.cm.entity.CmOrderItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cm_order_item (order_item_food_cost, order_item_food_price, 
      order_item_quantity, order_item_subtotal, food_id, 
      order_id, create_user, create_time, 
      modify_user, modify_time)
    values (#{orderItemFoodCost,jdbcType=DECIMAL}, #{orderItemFoodPrice,jdbcType=DECIMAL}, 
      #{orderItemQuantity,jdbcType=INTEGER}, #{orderItemSubtotal,jdbcType=DECIMAL}, #{foodId,jdbcType=BIGINT}, 
      #{orderId,jdbcType=BIGINT}, #{createUser,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyUser,jdbcType=BIGINT}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.cm.entity.CmOrderItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cm_order_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderItemFoodCost != null">
        order_item_food_cost,
      </if>
      <if test="orderItemFoodPrice != null">
        order_item_food_price,
      </if>
      <if test="orderItemQuantity != null">
        order_item_quantity,
      </if>
      <if test="orderItemSubtotal != null">
        order_item_subtotal,
      </if>
      <if test="foodId != null">
        food_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyUser != null">
        modify_user,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderItemFoodCost != null">
        #{orderItemFoodCost,jdbcType=DECIMAL},
      </if>
      <if test="orderItemFoodPrice != null">
        #{orderItemFoodPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderItemQuantity != null">
        #{orderItemQuantity,jdbcType=INTEGER},
      </if>
      <if test="orderItemSubtotal != null">
        #{orderItemSubtotal,jdbcType=DECIMAL},
      </if>
      <if test="foodId != null">
        #{foodId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cm.entity.CmOrderItem">
    update cm_order_item
    <set>
      <if test="orderItemFoodCost != null">
        order_item_food_cost = #{orderItemFoodCost,jdbcType=DECIMAL},
      </if>
      <if test="orderItemFoodPrice != null">
        order_item_food_price = #{orderItemFoodPrice,jdbcType=DECIMAL},
      </if>
      <if test="orderItemQuantity != null">
        order_item_quantity = #{orderItemQuantity,jdbcType=INTEGER},
      </if>
      <if test="orderItemSubtotal != null">
        order_item_subtotal = #{orderItemSubtotal,jdbcType=DECIMAL},
      </if>
      <if test="foodId != null">
        food_id = #{foodId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        modify_user = #{modifyUser,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cm.entity.CmOrderItem">
    update cm_order_item
    set order_item_food_cost = #{orderItemFoodCost,jdbcType=DECIMAL},
      order_item_food_price = #{orderItemFoodPrice,jdbcType=DECIMAL},
      order_item_quantity = #{orderItemQuantity,jdbcType=INTEGER},
      order_item_subtotal = #{orderItemSubtotal,jdbcType=DECIMAL},
      food_id = #{foodId,jdbcType=BIGINT},
      order_id = #{orderId,jdbcType=BIGINT},
      create_user = #{createUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>